# source code
src
public

# compiler
tsconfig.json
tools
postcss.config.js
.babelrc.js

# files
*.log
cypress.json
*.code-workspace

# tests
test
jest.config.js
setupJest.ts
coverage

#  lint
.eslintrc.js
.prettierrc

# IDE - VSCode
.vscode

# git
.git
.gitlab-ci.yml